
header {
  background-color: lightgray;
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
  flex: 1;
  text-align: center;
}

#topDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  height: 250px;
  overflow: auto;
}

#midDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#bottomDiv {
  display: flex;
  /* height: 400px; */
  align-items: center;
  justify-content: center;
 
}

#section {
  display: inline-block;
  height: 400px;
  width: 450px;
  margin: 15px;
}



button {
  height: 20px;
  width: 100px;
  margin: 15px;
  background-color: white;
  cursor: pointer;
  transition: background-color 350ms;
}



#logo {
  display: inline-block;
}


img {
  margin: 15px;
}

footer {
  background-color: black;
  height: 50px;
}

button:hover {
  background-color: purple;
}